<div class="container text-center">
  <h3 class="text-center">Photo Listing</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4" *ngFor="let p of photo; let i=index">
        <div class="box">
          <!-- <p>{{p.thumbnailUrl}}</p> -->
          <img src="../assets/{{p.thumbnailUrl}}">
          <p><b>Title: </b>{{p.title}}</p>
          <p><b>Id: </b>{{p.id}}</p>
          <p><b>Url: </b><a href="{{p.url}}">Click here</a></p>

          <button class="btn btn-success" (click)="toggle(p.id)">Compare</button>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="box">

        </div>
      </div>
      <div class="col-md-4">
        <div class="box">

        </div>
      </div> -->
    </div>
  </div>

 
</div>

<div class="container">

  <table border="1">
    <tr colsapn="4" class="text-center"><b>COMPARISON TABLE</b></tr>
   <tr>
    <th>Photo</th>
    <th>Id</th>
    <th>Title</th>
    <th>Url</th>
   </tr>
        <tr *ngFor="let p of photo" style="width:100%;margin:30px 0;border:1px solid gray">
    <app-comparison [p]="p">
    </app-comparison>

        </tr>
      </table>

    
 
      </div>
    
 